@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(17, 78, 96, 0.4);
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.user-forms {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-forms #username-page {
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  border-radius: 14px;
  display: flex;
  overflow: hidden;
  min-width: 800px;
}
.user-forms #username-page h1 {
  padding: 20px 0;
  font-size: 26px;
  letter-spacing: 1px;
  text-align: center;
}
.user-forms #username-page .create-room-container {
  min-height: 500px;
  color: #114e60;
  background-color: #fff;
  padding: 20px;
  flex: 1;
}
.user-forms #username-page .join-room-container {
  min-height: 500px;
  background-color: #114e60;
  color: orange;
  flex: 1;
  padding: 20px;
}
.user-forms #username-page .join-room-container button {
  background-color: orange;
  color: white;
}
.user-forms #username-page form {
  margin: 40px 0;
}

#chat-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#chat-page .chat-outer {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 12px;
  min-width: 800px;
  min-height: 600px;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
}
#chat-page .chat-outer .chat-header {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #ececec;
}
#chat-page .chat-outer .chat-header h2 {
  margin: 0;
  font-weight: 500;
}
#chat-page .chat-outer .chat-container {
  position: relative;
  height: auto;
  flex: 1;
  overflow-y: scroll;
}
#chat-page .chat-outer .chat-container .connecting {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}
#chat-page .chat-outer .chat-container .messageArea-div ul {
  list-style-type: none;
  background-color: #FFF;
  margin: 0;
  padding: 0 20px 0px 20px;
}
#chat-page .chat-outer .chat-container .messageArea-div ul li {
  line-height: 1.5rem;
  padding: 10px 20px;
  margin: 0;
  border-bottom: 1px solid #f4f4f4;
}
#chat-page .chat-outer .send-message-div {
  align-self: flex-end;
  width: 100%;
}
#chat-page .chat-outer .send-message-div #messageForm {
  padding: 10px;
}
#chat-page .chat-outer .send-message-div #messageForm .input-group {
  display: flex;
}
#chat-page .chat-outer .send-message-div #messageForm .input-group input {
  flex: 5;
  margin-right: 5px;
}
#chat-page .chat-outer .send-message-div #messageForm .input-group button {
  flex: 1;
}
#chat-page .chat-message i {
  position: absolute;
  width: 42px;
  height: 42px;
  overflow: hidden;
  left: 10px;
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 42px;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  font-style: normal;
  text-transform: uppercase;
}
#chat-page .chat-message span {
  color: #333;
  font-weight: 600;
  text-align: right;
}
#chat-page .chat-message p {
  color: #43464b;
}

.hidden {
  display: none !important;
}

input {
  width: 100%;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #114e60;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input[type=submit] {
  width: 100%;
  background-color: #114e60;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}