# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\I524906\OneDrive\Programming\Java Spring Boot\Chat Application - pixelTrice WT\oopd\oopd\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
